:root{
  --blackBackground: rgb(11, 11,18);
  --HiveRedColor: #d00024;
  --h1FontSize: 3.3vw;
  --pFontSize: 1.5vw;
}

body {
  margin: 0;
  background-color: var(--blackBackground);
}

@font-face {
  font-family: HiveRidley;
  src: url(assets/RidleyGrotesk-ExtraBold..otf);
}
@font-face {
  font-family: WorkSans;
  src: url(assets/WorkSans-VariableFont_wght.ttf);
}

a, p{
  font-size: var(--pFontSize)
}

h1{
  font-size: var(--h1FontSize);
}

nav a {
  font-family: WorkSans;
}

a {
  text-decoration: none;
}

nav {
  margin: auto 5%;
  position: absolute;
  top: 2vh;
  width: 90%;
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
}

nav .logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .deployable{
  display: none;
  background-color: white;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  margin: 0 auto;
  justify-content: center;
  align-self: center;
}

nav .iniciarSesion img{
  align-self: center;
  width: 5vw;
  height: 5vw;
  margin: 0 auto;
  margin-right: 5%;
  justify-content: center;
  
}

nav .iniciarSesion{
  display: none;
}

nav .iniciarSesion a{
  margin: auto;
  margin-left: 0;
  color: white;
  line-height: 3vw;
}

.deployable img{
  width: 50%;
}

nav div div {
  margin-right: 8%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: auto;
}

nav ul li a {
  color: white;
}

#logIn a {
  display: flex;
  align-items: center;
}

#logIn a img {
  width: 3vw;
  margin: 10px;
  border-radius: 50%;
}

.logo1 {
  width: 90%;
}
.logo2 {
  width: 100%;
}

.principal {
  font-family: HiveRidley;
  background-image: url("assets/mainBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.principal * {
  margin: auto;
}

.principal h3 {
  color: var(--HiveRedColor);
  font-size: 1.75vw;
  text-transform: uppercase;
}

.principal h1 {
  line-height: 5.5vw;
  color: white;
  font-size: 5.5vw;
  text-transform: uppercase;
}

.hexagonContainer {
  width: 100%;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hexagonHive {
  position: relative;
  right: 10%;
  bottom: -5%;
  width: 30%;
  animation: upDown 1s infinite alternate ease-in;
  z-index: 1;
}

.hexagonSwc {
  position: absolute;
  left: 35%;
  top: 70%;
  width: 30%;
  animation: upDown 1.5s infinite alternate ease-in 1s;
}

@keyframes upDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2vh);
  }
}

.divider {
  background: linear-gradient(
    90deg,
    rgba(23, 0, 136, 1) 0%,
    rgba(255, 83, 53, 1) 100%
  );
  margin: 0;
}

.divider h1 {
  font-family: WorkSans;
  color: white;
  margin: 0;
  padding: 1.5%;
  text-align: center;
  text-transform: uppercase;
}

.nosotros {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: var(--blackBackground);
  color: white;
  height: max-content;
  margin: 15% auto;
  align-items: center;
  justify-content: center;
  overflow: visible;
  z-index: -1;
}

.nosotros div {
  font-family: HiveRidley;
  margin: 5%;
}

.nosotros div h1 {
  text-transform: uppercase;
}

.nosotros img {
  width: 70%;
  justify-self: center;
  z-index: 2;
}

.hexagonsAsset {
  position: absolute;
  right: 2%;
  bottom: -30%;
  max-width: 80%;
  opacity: 0.2;
}

.assetBackground {
  margin: 0;
  width: 100%;
}

.assetBackground img {
  width: 100%;
}

.informacion {
  font-family: HiveRidley;
  background-color: var(--blackBackground);
  display: grid;
  grid-template-columns: 40% 60%;
  height: max-content;
  margin: 5% auto;
  align-items: center;
}

.informacion p {
  color: white;
  padding: 5%;
  text-align: center;
  
}

.informacionAssets{
  position: relative;
  width: 100%;
}

#web3{
  width: 100%;
}

#web3Coins{
  position: absolute;
  top: 5%;
  animation: upDown 1.5s alternate infinite ease-in;
  right: 12%;
  width: 25%;
}

.form{
  position: relative;
  padding: 3%;
  background-color: var(--blackBackground);
  color: white;
  font-family: HiveRidley;
  height: max-content;
  margin-top: 2%;
  text-transform: uppercase;
}

.form h1{
  text-align: center;
  margin-bottom: 0;
}

.spanH1Form{
  color: var(--HiveRedColor);;
}

.form > h3{
  text-align: center;
  font-family: WorkSans;
  font-weight:400;
  font-size: 1.5vw;
  margin-top: 0;
}

.form > div{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin: 5%;
}

.contact{
  border-radius: 5vw;
  padding: 5vw;
  background-color: rgba(255, 255, 255, 0.332);
  z-index: 1;
}

.contact h3{
  text-align: left;
  font-size: 2vw;
}

.contact p{
  text-transform:lowercase;
  font-family: WorkSans;
}

.form input{
  border: solid var(--HiveRedColor) 2px;
  border-radius: 3vw;
  background-color: var(--blackBackground);
  color: white;
  padding-left: 1vw;
  font-size: 1.5vw;
  height: 2.5vw;
  width: 70%;
}

.formInputs{
  font-family: WorkSans;
}

#swcTeam{
  width: 75%;
}

.formHexagons{
  position:absolute;
  top: 5%;
  right: 0;
  width: 40%
}

@media screen and (max-width: 500px) {
  nav{
    grid-template-columns: 33.33% 33.33% 33.33%;
  }

  nav ul{
    display: none;
  }

  nav .deployable{
    display: flex;
  }

  nav .iniciarSesion{
    display: flex;
  }

  .hexagonContainer {
    display: none;
  }
  .principal {
    display: flex;
  }
  .principal h1 {
    line-height: 10vw;
    color: white;
    font-size: 10vw;
    text-transform: uppercase;
  }
  .principal h3 {
    font-size: 3.2vw;
  }

  .title {
    position: relative;
    right: 3%;
  }

  .hexagonsAsset {
    position: absolute;
    right: 2%;
    bottom: 0%;
    max-width: 80%;
    opacity: 0.2;
  }

  :root{
    --h1FontSize: 6vw;
    --pFontSize: 3vw;
  }

  .informacion{
    display: grid;
    grid-template-columns: 100%;
  }

  #web3{
    width: 80%;
    margin: auto 10%;
    justify-self: center;
  }
  
  #web3Coins{
    position: absolute;
    top: 5%;
    animation: upDown 1.5s alternate infinite ease-in;
    right: 19%;
    width: 20%;
  }

  .form > div, .nosotros{
    grid-template-columns: 100%;
    row-gap: 5vw;
    align-items: center;
    margin: 8% 5%;
  }

  .form > h3{
    font-size: 2.5vw;
  }
  
  .formInputs div{
  text-align: center;
}

#swcTeam{
  width: 90%;
  margin: auto 5%;
}
}