* {
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .3vw;
    scroll-behavior: smooth;
}

h1{
    font-size: 3vw;
}

p{
    font-size: 2vw;
}

body{
    margin: 0;
}

#background{
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1000;
}

nav{
    width: 100%;
    display: grid;
    grid-template-columns: 16.5% 83.5%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(0, 0, 0);
}

nav ul {
    margin: auto auto;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    height: inherit;
}


nav ul li{
    list-style: none;
    margin: auto 3vw;
    transition: width,color, 1s;
    text-align: center;
}

nav ul li a, nav ul li{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.2vw;
}

nav ul li:hover, nav ul li a:hover{
    transform: scale(1.05);
    color: rgb(231, 208, 0);
    transition: transform,color, .2s;
}

#contact{
    text-decoration: none;
    margin: 5px 2vw;
    padding: 1vw;
    border-radius: 2vw;
    cursor: pointer;
    animation-name: colours;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.252);
    line-height: 1em;
}

.contactDeploy{
    position: fixed;
    left: 5%;
    right: 5%;
    bottom: 5%;
    top: 5%;
    z-index: 100000;
    background-color: rgb(91, 91, 91);
    display: none;
    justify-content: center;
    grid-template-rows: 25% 25% 25%;
    text-align: center;
    border-radius: 3vw;
    box-shadow: 0 10px 30px 5px;
    overflow-y: scroll;
}


.contactDeploy ul a li{
    margin: 15% auto;
    list-style: none;
    background-color: black;
    padding: 1.5vw;
    border-radius: 25vw;   
}

.contactDeploy ul a li, .contactDeploy ul a{
    font-size: 4vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: filter .5s;
}

.contactDeploy ul a li img{
    width: 5vw;
    margin-right: 2vw;
    margin-left: 2vw;
    align-self: center;   
}

.contactDeploy ul a:hover{
    filter: invert();
    transition: filter .5s;
}

.contactDeploy > img{
    width: 5vw;
    position: absolute;
    left: 3vw;
    top: 3vw;
}

.contactDeploy > img:hover{
    cursor: pointer;
    filter: invert();
    transition: filter .5s;
}

.contactDeployed{
    display: grid;
}

@keyframes colours{
    0%{
        background-color: rgb(32, 0, 148);
    }
    100%{
        background: rgb(131, 0, 145);
    }
}


#contact{
    color: white;
}

#logo{
    margin: auto;
    align-self: center;
    width: 70%;
    animation-delay: 2s;
    animation-name: rounding;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0, 0, 0, 0);
}

@keyframes rounding{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#contenedorPrincipal{ 
    display: flex;
    justify-content: center;
    position: static;
    margin-top: 0;
    height: 100vh;
}

#skills{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgba(0, 0, 0, 0.265);
    border-radius: 5vw;
    margin-top: 10vw;
}

#skills img, #workExperience img{
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 18vw;
    padding-bottom: 18vw;
    filter: brightness(1.5);
    animation-delay: 2s;
    animation-name: rounding;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0, 0, 0, 0);
}

#skills div, #workExperience div{
    text-align: left;
    padding-top: 18vw;
    padding-bottom: 18vw;
    color: rgb(255, 255, 255);
}

#workExperience{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgba(0, 0, 0, 0.265);
    border-radius: 5vw;
    margin-top: 8vw;
}

#aboutMe>h1, .coursesPersonal>h1{
    text-align: center;
}

.coursesPersonal>img{
    width: 80%;
    border-radius: .5vw;
    margin: auto;
    display: flex;
    margin-top: 4vw;
}

#aboutMeDiv{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 15%;
    margin: auto 10%;
    padding-bottom: 8%;
}

#aboutMe{
    margin: auto;
    width: 90%;
    padding-top: 8%;
    color: white;
    background-color: rgba(0, 0, 0, 0.265);
    border-radius: 5vw;
    margin-top: 8vw;
}

#aboutMe > h1{
    animation-delay: 1s;
    animation-name: roundingWord;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0, 0, 0, 0);
}

@keyframes roundingWord{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

h1{
    animation-name: roundingWordH1;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function:cubic-bezier(0, 0, 0, 0);
}

@keyframes roundingWordH1{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    75%{
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#projects{
    margin: auto;
    width: 90%;
    padding-top: 8%;
    color: white;
    background-color: rgba(0, 0, 0, 0.265);
    border-radius: 5vw;
    margin-top: 8vw;
    padding-bottom: 5vw;
}

#projects > h1{
    margin-bottom: 5vw;
    text-align: center;
    animation-delay: 1s;
    animation-name: roundingWord;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0, 0, 0, 0);
}

#projectsScroll{
    display: flex;
    overflow-x: scroll;
}

#projectsScroll::-webkit-scrollbar{
    height: 10px;
}

#projectsScroll::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 1vw;
}


#projectsScroll li{
    min-width: 100%;
}

#projectNav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectNav{
    width: 30%;
    margin: auto;
}

#projectNav ul li{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 4vw;
    height: 3.85vw;
    padding-top: .15vw;
    border-radius: 50%;
    align-content: center;
    color: rgb(0, 0, 0);
    font-size: 2.5vw;
    text-align: center;
}

#projectNav ul li:hover{
    background-color: darkorange;
    color: white;
    cursor: pointer;
}

#projects ul li img{
    width: 70%;
    display: flex;
    margin: auto;
    border-radius: 5vw;
    transition:box-shadow .2s;
}

#projects ul li{
    margin-top: 1vw;
    list-style: none;
    text-align: center;
}

#projects > ul li a{
    color: white;
    text-decoration: none;
}

#projects ul li img:hover{
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transition: .2s;
}

footer{
    background-color: black;
    position: relative;
    top: 2vh;
    margin-top: 5vw;
}

footer div{
    padding: 2vw;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    color: rgb(128, 128, 128);
    
}

footer ul li{
    list-style: none;
}

footer ul li a{
    color: rgb(128, 128, 128);
    text-decoration: none;
    transition: color 1s;
    font-size: 1.5vw;
}

footer ul li a:hover{
    color: white;
    transition: 1s;
}

footer div img:hover{
    filter: brightness(5);
    transition: 1s;
}

footer img {
    width: 20vw;
}

footer div p{
    font-size: 1.5vw;
}

.footerP{
    letter-spacing: .1vw;
    font-size: 1.5vw;
}

.footerPDerechos{
    letter-spacing: normal;
    text-align: center;
    color: rgb(128, 128, 128);
    font-size: 1vw;
    padding: 1vw;
}

#svg{
    display: none;
    width: 8vw;
    align-self: center;
    justify-self: end;
    margin: 4vw 5vw;
}

.deploy{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(90, 90, 90);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: clip-path 1s;
}

.deploy ul{
    display: flex;
    flex-direction: column;
}

.deploy ul li{
    text-align: start;
    margin-top: 5vw;
}

.deploy ul li a, #contactMeResponsive{
    font-size: 4vw;
    cursor: pointer;
}

#ex{
    cursor: pointer;
    width: 5vw;
    margin-left: 4vw;
    margin-top: 4vw;
}

.deployed{
    overflow-y: scroll;
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    transition: all 1s;
}

@media screen and (max-width: 1080px){
    nav ul li a, nav ul li{
        font-size: 1.4vw;
    }
    .footerP, footer ul li a{
        letter-spacing: .1vw;
        font-size: 2.5vw;
    }
    h1{
        font-size: 4.5vw;
    }
    p{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 720px) {
    #navList, #contact{
        display: none;
    }

    #svg{
        display: block;
    }
    h1{
        font-size: 5vw;
    }
    p{
        font-size: 3vw;
    }
}