* {
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;;
    letter-spacing: .3vw;
}

h1{
    font-size: 3vw;
}

p{
    font-size: 2vw;
}

body{
    margin: 0;
}

#background{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1000;
}

nav{
    width: 100%;
    display: grid;
    grid-template-columns: 16.5% 83.5%;
    position: absolute;
    left: 0;
    margin-top: 2vw;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
}


nav ul li{
    list-style: none;
    margin: auto 3vw;
    transition: transform,color, 1s;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.2vw;
}

nav ul li:hover, nav ul li a:hover{
    transform: scale(1.05);
    color: rgb(231, 208, 0);
    transition: transform,color, .2s;
}

#contact{
    padding: .5vw;
    border-radius: 2vw;
    animation-name: colours;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.252);
}

@keyframes colours{
    0%{
        background-color: rgb(32, 0, 148);
    }
    100%{
        background: rgb(131, 0, 145);
    }
}


#contact a{
    color: white;
}

#logo{
    width: 65%;
    animation-delay: 2s;
    animation-name: rounding;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0, 0, 0, 0);
}

@keyframes rounding{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(2deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#contenedorPrincipal{
    background: rgb(2,0,36);
    background: linear-gradient(49deg, rgba(2,0,36,1) 0%, rgba(46,74,146,1) 46%, rgba(116,9,121,1) 97%);
    display: flex;
    justify-content: center;
    position:static;
    margin-top: 0;
    height: 80vw;
    clip-path: circle(300% at 50% -240%);
}

#skills{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgba(0, 0, 0, 0.265);
    border-radius: 5vw;
    margin-top: 10vw;
}

#skills img, #workExperience img{
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 18vw;
    padding-bottom: 18vw;
    filter: brightness(1.5);
    animation-delay: 2s;
    animation-name: rounding;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0, 0, 0, 0);
}

#skills div, #workExperience div{
    text-align: left;
    padding-top: 18vw;
    padding-bottom: 18vw;
    color: rgb(255, 255, 255);
}

#workExperience{
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgba(0, 0, 0, 0.265);
    border-radius: 5vw;
    margin-top: 8vw;
}

#aboutMe>h1, .coursesPersonal>h1{
    text-align: center;
}

#aboutMeDiv{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 15%;
    margin: auto 10%;
    padding-bottom: 8%;
}

#aboutMe{
    margin: auto;
    width: 90%;
    padding-top: 8%;
    color: white;
    background-color: rgba(0, 0, 0, 0.265);
    border-radius: 5vw;
    margin-top: 8vw;
}

#aboutMe > h1{
    animation-delay: 1s;
    animation-name: roundingWord;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0, 0, 0, 0);
}

@keyframes roundingWord{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

h1{
    animation-name: roundingWordH1;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-timing-function:cubic-bezier(0, 0, 0, 0);
}

@keyframes roundingWordH1{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}